*{
margin: 0; padding: 0; box-sizing: border-box;

}
header{
width:100%; height:100vh;
background-image: url('https://images.unsplash.com/photo-1576487248805-cf45f6bcc67f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8dGFqJTIwbWFoYWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
background-repeat:no-repeat;
background-size:cover;
}
nav{
	width: 100%; height: 10vh;
	background: rgba(0,0,0,0.2);
	color: white; display: flex; justify-content: space-between;
	align-items: center; text-transform:uppercase;
	
	
}


nav .logo{
	width:30%; text-align:center;
	text-transform:uppercase;
	font-size:25px;
	color:black;
}
nav .menu{
	width: 40%;
	display: flex; justify-content: space-around;
	
	

}

nav .menu a{
	text-decoration: none; color: black;
}
   nav .menu a:first-child{
	color: #00b894;
}

main{
	width:100%;
	height:85vh;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	color: white;
}
section{
}
section h3{
	color:brown;
	font-size: 35px; font-weight: 200; letter-spacing: 3px;
	text-saddow: 1px 1px 2px black;
	
}
section h1{
	color:orange;
	margin: 20px 0 20px 0;
	font-size: 30px;
	font-weight: 500;
	text-saddow: 2px 1px 5px black;
	text-transform: uppercase;
}
section p{
	color:green;
    margin-bottom: 25px;
	font-size: 30px;
	word-spacing: 2px;;
	text-saddow: 2px 1px 5px black;
	
}
section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline:none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
}
section .btnone{
	background: #fff;
	color: #000;
}
section .btntwo{
	background: #00b894;
	color: white;
}












